#map-canvas {
  height: calc(100% - #{$timeline-height});
  width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
  font-size: 12px;
}

@media only screen and (max-width: 700px) {
  #map-canvas {
    height: 400px;
    width: 100%;
    margin-left: 0;
  }
}