#map-canvas {
  height: calc(100% - 40px);
  width: calc(100% - 300px);
  margin-left: 300px;
  font-size: 12px; }

.map-copy {
  padding: 20px; }

.zoomout-button {
  position: absolute;
  font-size: 13px;
  z-index: 10;
  padding: 8px;
  top: 50px;
  left: calc((50% + 300px/2) - 68px);
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px; }

@media only screen and (max-width: 700px) {
  #map-canvas, .zoomout-button {
    display: none; } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
  height: 100vh;
  min-height: 100vh;
  background-color: #ededed; }

h1 {
  margin: 0;
  padding: 0;
  color: #000000; }

a:link, a:hover, a:visited, a:active {
  color: #777777;
  text-decoration: none;
  cursor: pointer; }

i {
  font-size: 0.8em; }

.timeline-grey {
  position: absolute;
  top: 35px;
  width: 100%;
  border-bottom: 4px solid #777777;
  z-index: -1; }
  .timeline-grey .plane {
    background-image: url(../images/plane.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 4px;
    left: 10px;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg); }

.timeline {
  border-bottom: 4px solid #FFA455;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 15px;
  margin-left: calc(50% - 61px); }
  .timeline a {
    padding-left: 20px;
    position: relative; }
  .timeline a:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 5px;
    bottom: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffa455 transparent; }
  .timeline .current {
    font-size: 15px;
    font-weight: bold; }

.sidebar {
  background-color: #fff;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
  background-image: url(../images/travel-bg.jpg);
  background-size: 200px 162px;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 40px;
  left: 0;
  width: 300px;
  height: calc(100% - 40px);
  z-index: 99;
  box-sizing: border-box; }
  .sidebar .logo {
    background-image: url(../images/logo.png);
    background-size: 200px 122px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 122px;
    padding-bottom: 30px;
    margin-left: -10px; }
  .sidebar .intro {
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 8px; }
    .sidebar .intro span {
      font-weight: normal;
      font-size: 12px;
      vertical-align: middle;
      color: #aaaaaa; }
      .sidebar .intro span a {
        color: #91b5ff; }
      .sidebar .intro span a:hover {
        color: #5e93ff; }
    .sidebar .intro .social-media {
      float: right;
      padding-left: 5px; }
  .sidebar .feed {
    height: calc(100% - 40px - 160px);
    overflow: scroll; }
    .sidebar .feed .feed-item {
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid #efefef;
      margin-bottom: 20px; }
      .sidebar .feed .feed-item .image {
        position: relative; }
        .sidebar .feed .feed-item .image img {
          width: 100%;
          height: auto;
          min-height: 100px;
          border-radius: 5px 5px 0 0; }
        .sidebar .feed .feed-item .image a.location {
          display: block;
          position: absolute;
          right: 10px;
          bottom: 15px;
          width: 23px;
          height: 31px;
          background-image: url(../images/location.png);
          background-size: 23px 31px;
          opacity: 0.7; }
        .sidebar .feed .feed-item .image a.location:hover {
          opacity: 1; }
      .sidebar .feed .feed-item .date {
        padding: 7px 10px 5px 10px;
        font-size: 12px;
        text-align: right;
        line-height: 18px; }
        .sidebar .feed .feed-item .date:before {
          content: '';
          display: inline-block;
          background-image: url(../images/time.png);
          background-size: 15px 15px;
          width: 15px;
          height: 15px;
          margin-right: 5px;
          vertical-align: sub; }
      .sidebar .feed .feed-item .copy {
        padding: 0 10px 15px 10px;
        font-size: 14px;
        position: relative;
        padding-left: 55px;
        min-height: 30px; }
        .sidebar .feed .feed-item .copy .icon {
          position: absolute;
          left: 8px;
          top: -5px; }
  .sidebar .scrollInfo {
    font-size: 11px;
    text-align: center;
    margin-top: 8px; }

@media only screen and (max-width: 700px) {
  .sidebar {
    top: 0px;
    position: relative;
    width: 100%;
    height: auto; }
    .sidebar .logo {
      background-position: top center; }
    .sidebar .feed {
      height: auto; }
      .sidebar .feed .feed-item .image a.location {
        display: none; }

  .scrollInfo {
    display: none; } }

/*# sourceMappingURL=main.css.map */
