@import 'vars';
@import 'map';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #777777;
  height:100vh;
  min-height:100vh;
}

h1 {
  margin: 0;
  padding: 0;
  color: #000000;
}

a:link, a:hover, a:visited, a:active {
  color: #777777;
  text-decoration: none;
}

.header {
  background-color: #fff;
  height: $header-height;
  line-height: $header-height;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 20px;
  h1 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    display: inline-block;
  }
  .nav {
    float: right;
  }
}