#map-canvas {
  width: calc(100% - #{$sidebar-width});
  height: 100%;
  margin-left: $sidebar-width;
  margin-top: $timeline-height;
  font-size: 12px;
  position: relative;
}

.map-copy {
  padding: 20px;
}

.zoomout-button {
  position: absolute;
  font-size: 13px;
  z-index: 10;
  padding: 8px;
  top: 50px;
  left: calc((50% + #{$sidebar-width}/2) - 68px);
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

.map-intro {
  display: none;
}

.marker-image {
  border-radius: 5px;
}
.marker-link {
  border-bottom: 1px solid #777777;
}

@media only screen and (max-width: 700px) {
  #map-canvas, .zoomout-button {
    display: none;
  }
}