<div class="timeline">
  <a href="javascript:centerAndZoomMapTo(37.715727, -25.434506, 10)">Azoren <i>1.Juli 17</i></a>
  <a href="javascript:centerAndZoomMapTo(5.7532023, -74.6224387, 7)">Kolumbien <i>16.Juli 17</i></a>
  <a href="javascript:centerAndZoomMapTo(-14.7602138, -72.8797037, 7)">Peru <i>6.Aug 17</i></a>
  <a href="javascript:centerAndZoomMapTo(-24.0090931, -68.1507947, 5)">Chile <i>27.Aug 17</i></a>
  <a href="javascript:centerAndZoomMapTo(-43.0566681, -64.5894375, 5)">Argentinien <i>17.Sep 17</i></a>
  <a href="javascript:centerAndZoomMapTo(-41.322301, 173.1560633, 6)">Neuseeland <i>8.Okt 17</i></a>
  <!-- <a href="javascript:centerAndZoomMapTo(22.396428, 114.109497, 4)">Hongkong <i>5.Nov 17</i></a>-->
  <a href="javascript:centerAndZoomMapTo(37.8492492, 138.8855049, 6)">Japan <i>9.Nov 17</i></a>
  <a href="javascript:centerAndZoomMapTo(15.6634982, 106.1164757, 6)">Vietnam <i>1.Dez 17</i></a>
  <a href="javascript:centerAndZoomMapTo(-8.8666455, 117.1745782, 6)">Indonesien <i>21.Dez 17</i></a>
  <a href="javascript:centerAndZoomMapTo(11.3497859, 76.7718227, 7)">Indien <i>14.Jan 18</i></a>
  <a href="javascript:centerAndZoomMapTo(30.9080156, 35.9922343, 8)">Jordanien <i>4.Feb 18</i></a>
</div>
<div class="sidebar">
  <div class="logo"></div>
  <br/>
  <div class="feedAbout">
  Wir sind wieder zurück! Unsere Weltreise endete am <b>11. Februar 2018</b>.<br/>Alle Erlebnisse könnt ihr in den Reiseberichten auf <b><a href="https://wir.abwesend.com" target="_blank">unserem Blog</a></b> nachlesen.
  </div>
  <br/><br/>
  <div id="feedIntro" class="intro"><s>Neuigkeiten</s>
    <span>von <a href="https://wir.abwesend.com" target="_blank">Krissi & Ben</a></span>
    <a href="https://twitter.com/wiraufweltreise" target="_blank" class="social-media"><img src="<%= image_path('twitter.png') %>" width="20" height="20"></a>
    <a href="https://instagram.com/wiraufweltreise" target="_blank" class="social-media"><img src="<%= image_path('instagram.png') %>" width="20" height="20"></a>
  </div>
  <div onscroll="onScrollFeed()" id="feedJson" class="feed">Inhalt wird geladen ...</div>
  <div id="scrollInfo" class="scrollInfo">Nach unten scrollen um mehr zu sehen</div>
</div>
<div class="map-intro">Wo wir gerade sind</div>
<div id="map-canvas"><div class="map-copy">Karte wird geladen ...</div></div>
<a href="javascript:resetMap()" class="zoomout-button">Karte zurücksetzen</a>
